{% extends "layout.html.twig" %}

{% block content %}
    <div class="container theme-showcase" role="main">

        <div class="page-header">
            <h1>Zamówienia</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <button href="#neworder" type="button" class="btn btn-lg btn-success" data-toggle="modal">Utwórz nowe zamówienie</button>
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="" selected="selected">Select a State</option>
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="" selected="selected">Select a State</option>
                            <option value="AL">Alabama</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ID Klienta</th>
                    <th>Obiekt</th>
                    <th>Data Zamowienia</th>
                    <th>Numer Faktury</th>
                    <th>Status Platnosci</th>
                    <th>Status Zamowienia</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>#</th>
                    <th>ZAM1234</th>
                    <th>Stacja Paliw Chorzów</th>
                    <th>08:00:11 02/02/2017</th>
                    <th>FV/17/02/2017</th>
                    <th>
                        <span class="label label-success">Opłacone</span>
                    </th>
                    <th>
                        <span class="label label-success">Zrealizowane</span>
                    </th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>ID Klienta</th>
                    <th>Stacja Paliw Chorzów</th>
                    <th>11:00:11 04/02/2017</th>
                    <th>FV/19/02/2017</th>
                    <th>
                        <a href="#payments" role="button" data-toggle="modal">
                            <span class="label label-info">Opłac</span>
                            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                        </a>
                    </th>
                    <th>
                        <span class="label label-warning">Oczekiwanie na płatnośc</span>
                    </th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>ID Klienta</th>
                    <th>Stacja Paliw Katowice</th>
                    <th>09:00:11 06/02/2017</th>
                    <th>FV/21/02/2017</th>
                    <th>
                        <span class="label label-danger">Nieoplacone w Terminie</span>
                    </th>
                    <th>
                        <span class="label label-danger">Realizacja Wstrzymana</span>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>

    </div> <!-- /container -->

    <!-- /Modal Platnosci -->
    <div id="payments" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Opłać</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Czy zatwierdzasz platność</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Tak Zapłac</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal Platnosci -->

    <!-- /Modal Nowego Zamowienia -->
    <div id="neworder" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Utwórz nowe zamówienie.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>

                            <!-- Form Name -->
                            <legend>Formularz zamówienia</legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="orderform_ownid" >Numer Własny</label>
                                <div class="col-md-4">
                                    <input id="orderform_ownid" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="selectbasic">Adres Dostawy</label>
                                <div class="col-md-4">
                                    <select id="selectbasic" name="selectbasic" class="form-control">
                                        <option value="1">Katowice Orlen</option>
                                        <option value="2">Trzebinia Orlen</option>
                                    </select>
                                </div>
                            </div>

                            <div class="container" style="margin-top:30px;">
                                <div class="row">
                                    <ul id="tree2">
                                        <li><a href="#">Katalog</a>
                                            <ul>
                                                <li>Paliwa
                                                    <ul>
                                                        <li>Bezołowiowa 95 <button type="button" class="btn btn-xs btn-success">[ dodaj ]</button></li>
                                                        <li>Bezołowiowa 95 Premium <button type="button" class="btn btn-xs btn-success">[ dodaj ]</button></li>
                                                        <li>Bezołowiowa 98 <button type="button" class="btn btn-xs btn-success">[ dodaj ]</button></li>
                                                        <li>Bezołowiowa 98 Premium <button type="button" class="btn btn-xs btn-success">[ dodaj ]</button></li>
                                                    </ul>
                                                </li>
                                                <li>Eksploatacja
                                                    <ul>
                                                        <li>Olej 1 <button type="button" class="btn btn-xs btn-success">[ dodaj ]</button></li>
                                                        <li>Olej 2 <button type="button" class="btn btn-xs btn-success">[ dodaj ]</button></li>
                                                        <li>Olej 3 <button type="button" class="btn btn-xs btn-success">[ dodaj ]</button></li>
                                                        <li>Olej 4 <button type="button" class="btn btn-xs btn-success">[ dodaj ]</button></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <p>

                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>LP</th>
                                        <th>Nazwa</th>
                                        <th>Cena</th>
                                        <th>Ilość</th>
                                        <th>Suma</th>
                                        <th>Akcja</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>1</th>
                                        <th>Bezołowiowa 95</th>
                                        <th>4.37</th>
                                        <th>1200.00</th>
                                        <th>5244.00</th>
                                        <th><button type="button" class="btn btn-xs btn-danger">[ usuń ]</button></th>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <th>Bezołowiowa 98</th>
                                        <th>4.77</th>
                                        <th>1200.00</th>
                                        <th>5724.00</th>
                                        <th><button type="button" class="btn btn-xs btn-danger">[ usuń ]</button></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Zatwierdź</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal Nowego Zamowienia -->

{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/treeview.js') }}"></script>
    <script>
        $('#tree1').treed();

        $('#tree2').treed({openedClass:'glyphicon-folder-open', closedClass:'glyphicon-folder-close'});

        $('#tree3').treed({openedClass:'glyphicon-chevron-right', closedClass:'glyphicon-chevron-down'});

    </script>
{% endblock %}